@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root
{
    --fonte1: verdana, Geneva, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*
{
    margin: 0;
    padding: 0;

}

html, body
{
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.432);
    font-family: var(--fonte1);
}

header
{
    background-color: black;
    color: white;
    text-align: center;
   
}

header > h1
{
    font-variant: small-caps;
    padding-top: 50px;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p
{
    padding-top: 20px;
    padding-bottom: 30px;

}

a, footer
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover, a footer:hover
{
    text-decoration: underline;
}


/*edit img*/

section
{
    font-family: var(--fonte3);
    font-size: 3vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 35px;
    line-height: 2.3em
   

}

section.normal
{
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
}

section.imagem
{
    background-color: rgba(255, 255, 255, );
    color: rgb(255, 255, 255);
    box-shadow: inset 6px 6px 12px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section#img01
{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
}

section#img02
{
background-image: url(imagens/background002.jpg);
background-size: cover;
text-shadow: 2px 2px 3px black;

}

/*section.imagem > p
{
    display: inline block;
    padding: 5px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.527);
}*/

section > p 
{
    padding-bottom: 1em;
}

footer
{
    background-color: black;
    padding-top: 45px;
    padding-bottom: 20px;
    text-align: center;
    font-variant: small-caps;
    font-weight: 900;
}


